HTML {
    text-align: center;
    background-color: lightgreen;
    background-size: cover;
}

main {
    width: 100%;
}

/*Main*/
.Main {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-top: 18%;
    font-family: BestAccurate;


}

.mainLeft {
    transform: translateX(-100%) scale(0.2) rotate(-10deg);
    opacity: 0;
    animation: slideIn 1s forwards, fadeIn 2s forwards;
    font-size: 6rem;

}

.mainLeft2 {
    transform: translateX(-100%) scale(0.2) rotate(-10deg);
    opacity: 0;
    animation: slideIn 2s forwards, fadeIn 4s forwards;
    font-size: 6rem;
    color: darkgreen;
    margin-left: 2rem;
}

.mainRight {
    transform: translateX(-100%) scale(0.2) rotate(-10deg);
    opacity: 0;
    animation: slideIn 4s forwards, fadeIn 6s forwards;
}

.mainRight2 {
    transform: translateX(-100%) scale(0.2) rotate(-10deg);
    opacity: 0;
    animation: slideIn 10s forwards, fadeIn 10s forwards;
    font-size: 6rem;
    color: darkgreen;
    margin-left: 30rem;
    text-decoration: none;
    border: .25rem solid ghostwhite;
    border-radius: 5%;
    padding: 1%;
    background-color: rgba(0, 0, 0, .3);
}



@keyframes slideIn {
    to {
        transform: translateX(0) scale(1);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.mainLeft h1,
.mainLeft h3,
.mainLeft2 h1,
.mainLeft2 h3,
.mainRight h1,
.mainRight h3,
.mainRight2 h1,
.mainRight2 h3 {
    font-size: 2rem;
    animation: fontSizeIn 2s forwards;
}


@keyframes fontSizeIn {
    to {
        font-size: 3rem;
    }
}



/*dash*/
.dashShell {
    display: flex;
}

.dashLogo {
    width: 20%;
}

.leaf {
    width: 20rem;
    height: 18rem;
    margin-left: 4rem;
}

.dashMenu {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.scroll-to-top.visible {
    opacity: 1;
}


@media (max-width: 768px) {
    .dashMenu {
        display: none;
    }
}

.menu-items {
    color: white;
}


.mobile-menu {
    margin-left: 5%;
    position: relative;
    display: none;
}

.menu-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
}

.menu-icon {
    display: inline-block;
    width: 30px;
    height: 20px;
    padding: -10%;
    margin: 10%;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
}

.menu-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: silver;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}


.menu-icon span:nth-child(1) {
    top: 0px;
}

.menu-icon span:nth-child(2),
.menu-icon span:nth-child(3) {
    top: 10px;
}

.menu-icon span:nth-child(4) {
    top: 20px;
}

.menu-icon.open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
}

.menu-icon.open span:nth-child(2) {
    top: 10px;
    opacity: 0;
    left: -60px;
}

.menu-icon.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
}

.menu-icon.open span:nth-child(4) {
    top: 10px;
    transform: rotate(-135deg);
}

@media (max-width: 768px) {
    .mobile-menu {
        display: block;
    }
}

.arrow-icon {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}