HTML {

    background-color: lightgreen;
    background-size: cover;
}

main {
    width: 100%;
}

/*Main*/
.Main {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-top: 18%;
    font-family: BestAccurate;
}

.mainLeft {
    transform: translateX(-100%) scale(0.2) rotate(-10deg);
    opacity: 0;
    animation: slideIn 1s forwards, fadeIn 2s forwards;
    font-size: 6rem;
}

.mainLeft2 {
    transform: translateX(-100%) scale(0.2) rotate(-10deg);
    opacity: 0;
    animation: slideIn 2s forwards, fadeIn 4s forwards;
    font-size: 6rem;
    color: darkgreen;

}

.mainRight {
    transform: translateX(-100%) scale(0.2) rotate(-10deg);
    opacity: 0;
    animation: slideIn 4s forwards, fadeIn 6s forwards;
}

.mainRight2 {
    transform: translateX(-100%) scale(0.2) rotate(-10deg);
    opacity: 0;
    animation: slideIn 10s forwards, fadeIn 10s forwards;
    font-size: 6rem;
    color: darkgreen;
    margin-left: 30rem;
    text-decoration: none;
    border: .25rem solid ghostwhite;
    border-radius: 5%;
    padding: 1.5%;
    background-color: rgba(0, 0, 0, .3);
}

.leaf {
    width: 20rem;
    height: 18rem;
    margin-left: 4rem;
}


@keyframes slideIn {
    to {
        transform: translateX(0) scale(1);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.mainLeft h1,
.mainLeft h3,
.mainLeft2 h1,
.mainLeft2 h3,
.mainRight h1,
.mainRight h3,
.mainRight2 h1,
.mainRight2 h3 {
    font-size: 2rem;
    animation: fontSizeIn 2s forwards;
}


@keyframes fontSizeIn {
    to {
        font-size: 3rem;
    }
}

/*age verify*/
.ageShell {
    font-family: BestAccurate;
    color: darkgreen;
    background-image: url(../images/DarkWeed.jpg);
    background-size: cover;
    height: 100vh;
    width: auto;
    margin-top: -1.7%;
    text-align: center;
}

.ageTitle {
    font-size: 3rem;
    color: ghostwhite;
    padding-top: 2%;
}

.ageTitle2 {
    display: flex;
    justify-content: center;
    margin-top: -4.5%;
    font-size: 1.25rem;
}

.ageBox {
    border: solid .25rem ghostwhite;
    border-radius: 2%;
    width: 30%;
    margin: 0 auto;
    height: 28rem;
    background-size: cover;
    align-content: center;
    padding: 2%;
    background-color: lightgreen;
    margin-top: 5%;
}

.ageLeaf {
    width: 7rem;
    height: 6rem;

}

.ageButtonBox {
    display: flex;
    justify-content: space-evenly;
}

.ageBtn {
    width: 6rem;
    height: auto;
    font-size: 2rem;
    padding: 1%;
    border: solid .25rem ghostwhite;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 2%;
    font-family: BestAccurate;
}


/*dash*/
.dashShell {
    text-align: center;
    font-family: BestAccurate;
    border: solid .5rem ghostwhite;
}

.navBox {
    display: flex;
}

.dashBox {
    display: flex;
    margin: 3%;
}

.dashLogo {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-left: 5%;
    padding-top: 5%;
}

.dLogoText {
    color: darkgreen;
    font-size: 3.5rem;
    margin-top: 25%;
    margin-left: 20%;
    margin-bottom: -75%;
    text-shadow: .1rem .1rem ghostwhite;
}

.dashBody {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    text-shadow: .1rem .1rem darkgreen;
    color: ghostwhite;
    border: .25rem solid ghostwhite;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, .3);
    padding: 2%;
}

.dashLeaf {
    width: 14rem;
    height: 13rem;
    margin-left: 4rem;
}

.potLeaf {
    width: 6rem;
    height: 6rem;
    border: .25rem solid ghostwhite;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .8);

}

.dash420 {
    width: 30%;
    height: 40rem;
    border: .25rem solid ghostwhite;
    border-radius: 2%;
}

.dashMenu {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: .5rem solid ghostwhite;
    align-items: flex-end;
    padding-bottom: 1%;
    margin-left: 5%;
    font-size: 2rem;
}

.dashItem {
    animation: bounceIn 1s ease-in-out;
    text-decoration: none;
    color: darkgreen;
    text-shadow: .1rem .1rem ghostwhite;
    border: .02rem solid ghostwhite;
    background-color: rgba(0, 0, 0, .2);
    padding: 1%;
    border-radius: 50%;
}

.btn {
    width: auto;
    height: auto;
    color: greenyellow;
    border: solid .25rem ghostwhite;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, .7);
    padding: .5%;
    text-decoration: none;
    font-family: BestAccurate;
    font-size: 1rem;
}

.btnBar {
    display: flex;
    justify-content: space-evenly;
}


@keyframes bounceIn {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    60% {
        transform: translateY(-10px);
        opacity: 0.5;
    }

    80% {
        transform: translateY(5px);
        opacity: 1;
    }

    100% {
        transform: translateY(0);

    }
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: yellowgreen;
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.scroll-to-top.visible {
    opacity: 1;
}

@media (max-width: 768px) {
    .dashMenu {
        display: none;
    }
}

.menu-items {
    color: darkgreen;
}

.mobile-menu {
    margin-left: 5%;
    position: relative;
    display: none;
}

.menu-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: darkgreen;
}

.menu-icon {
    display: inline-block;
    width: 30px;
    height: 20px;
    padding: -10%;
    margin: 10%;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
}

.menu-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.menu-icon span:nth-child(1) {
    top: 0px;
}

.menu-icon span:nth-child(2),
.menu-icon span:nth-child(3) {
    top: 10px;
}

.menu-icon span:nth-child(4) {
    top: 20px;
}

.menu-icon.open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
}

.menu-icon.open span:nth-child(2) {
    top: 10px;
    opacity: 0;
    left: -60px;
}

.menu-icon.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
}

.menu-icon.open span:nth-child(4) {
    top: 10px;
    transform: rotate(-135deg);
}

@media (max-width: 768px) {
    .mobile-menu {
        display: block;
    }
}

.arrow-icon {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/*library*/
.libDad {
    font-family: BestAccurate;
    color: ghostwhite;
    background-image: url(../images/DarkWeed.jpg);
    background-size: cover;
    height: 100%;
    width: auto;
    text-align: center;
    border: .5rem solid green;
}

.libCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.libName {
    font-size: 5rem;
    width: 20rem;
    border: solid .25rem ghostwhite;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, .7);
    padding: 1.5%;

}

.libBtn {
    width: auto;
    height: auto;
    color: greenyellow;
    border: solid .25rem ghostwhite;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, .7);
    padding: 1.5%;
    text-decoration: none;
    font-family: BestAccurate;
    font-size: 1.25rem;
}

.libShell {
    width: auto;
    height: auto;
}

.innerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.libBox {
    border: .25rem solid ghostwhite;
    width: 15rem;
    height: 17.5rem;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 2%;
    margin: 4%;
    text-align: center;

}

.boxName {
    font-size: 2rem;
    text-shadow: .05rem .05rem greenyellow;
}

.boxWords {
    color: greenyellow;
    margin-top: -.05%;
    font-size: 1.25rem;
}

.graph {
    border: .25rem solid ghostwhite;
    width: 30rem;
    height: 20rem;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 2%;
    margin: 1%;
    padding: 1.25%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 1.4rem;
}


.GTitle {
    margin-top: 0;
    font-size: 2rem;
}

.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin-left: 2%;
}

.bar-fill {
    background-color: rgb(103, 204, 103);
    width: 50%;
    min-height: 30px;
    border-radius: 1%;
    flex-grow: -.5;
    transition: width 1s ease-in-out;
    animation: slideIn 1s ease-in-out forwards;
    opacity: 0;
}

.percentage-label {
    position: relative;
    margin-top: 10%;
    margin-left: 6%;
    margin-bottom: 1%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.25rem;
}


@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.bar,
.bar-fill {
    animation-delay: 0.5s;
}

.Ifiller {
    width: 90%;
    height: 10rem;
    background-image: url(../images/weed.jpg);
    background-size: cover;
    color: ghostwhite;
    font-family: BestAccurate;
    text-shadow: .2rem .2rem black;
    border: solid ghostwhite.25rem;
    border-radius: 2%;
    font-size: 6rem;
    text-align: center;
    padding-top: 2.5%;
    margin-left: 5%;
}


/*view one*/
.viewDad {
    font-family: BestAccurate;
    color: ghostwhite;
    background-image: url(../images/weed.jpg);
    background-size: cover;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 5%;
    text-align: center;
    border: solid .5rem ghostwhite;
}

.viewShell,
.dispShell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.viewName {
    font-size: 5rem;
    border: solid .25rem ghostwhite;
    color: greenyellow;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, .5);
    width: auto;
    padding: 1%;

}

.viewOuterBox {
    border: .25rem solid ghostwhite;
    width: 80%;
    height: auto;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 2%;

}

.viewBox {
    display: flex;
    justify-content: space-between;
}

.viewEntry,
.viewTaste {
    border: .25rem solid ghostwhite;
    width: 22rem;
    height: 22rem;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 2%;
    margin: 1.5%;
    padding: 1%;
    font-size: 1.75rem;
}

.viewTaste {
    word-wrap: break-word;
}

/*NewEntry*/
.newShell {
    display: flex;
    text-align: center;
    background-image: url(../images/sideWeed.jpg);
    background-size: cover;
    width: auto;
    height: 100%;
    padding-top: 2%;
    font-family: BestAccurate;
    padding-bottom: 2%;
}

.newBtn {
    width: auto;
    height: auto;
    color: greenyellow;
    border: solid .15rem black;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, .7);
    padding: .5%;
    text-decoration: none;
    font-family: BestAccurate;
    font-size: 1.5rem;
}

.newLeft {
    width: 40%;
}

.newRight {
    width: 60%;
}

.newTitle {
    width: 30rem;
    margin-left: 29%;
}

.newTitle {
    font-size: 5rem;
    color: darkgreen;
    text-shadow: .1rem .1rem black;
    border: solid black .15rem;
    border-radius: 2%;
    background-color: rgba(177, 209, 182, 0.7);

}

.formBody {
    font-size: 1.5rem;
    color: darkgreen;
    text-align: left;
    margin-left: 30%;
    text-shadow: .05rem .05rem black;
}

.InputBox,
.InputBoxNum,
.EntryBox,
.revEntryBox,
.newDocEntryBox {
    height: 2rem;
    border-radius: 2rem;
    background-color: rgba(177, 209, 182, 0.7);
    padding-left: 1%;
    margin-left: 1%;
    font-family: BestAccurate;
    font-size: 1.5rem;
}

.InputBox {
    width: 50%;
}



.InputBoxNum {
    width: 20%;
}

.EntryBox,
.revEntryBox {
    width: 60%;
    white-space: pre-wrap;
    overflow: auto;
}

/*reviews*/
.revShell {
    font-family: BestAccurate;
    text-align: center;
    background-image: url(../images/DarkWeed.jpg);
    background-size: fill;
    color: ghostwhite;
    border: solid .5rem green;
}

.revTitleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -3%;
    margin-bottom: -3%;
}

.revTitle {
    width: auto;
    font-size: 10rem;
    color: darkgreen;
    text-shadow: .1rem .1rem greenyellow;
    border: solid ghostwhite .15rem;
    border-radius: 2%;
    background-color: rgba(177, 209, 182, 0.7);
    padding: 1%;
}

.reviewBox {
    border: solid .1rem ghostwhite;
    background-image: url(../images/DarkWeed.jpg);
    opacity: 90%;
    background-size: fill;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.revEntryBox {
    height: 5rem;
    background-color: rgba(177, 209, 182, 0.3);
}

.revRev {
    color: greenyellow;
    font-size: 2rem;
}

.revRev1 {
    width: 20rem;
    color: greenyellow;
    font-size: 4rem;
    text-shadow: .05rem .05rem ghostwhite;
    border: .1rem solid ghostwhite;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, .4);
}

.revBtn {
    width: auto;
    height: auto;
    color: greenyellow;
    border: solid .25rem ghostwhite;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, .5);
    padding: 1%;
    text-decoration: none;
    font-family: BestAccurate;
    font-size: 1.5rem;
}

.reviews {
    width: 90%;
    height: auto;
    display: flex;
    margin-bottom: 2%;
    font-size: 2rem;
    text-shadow: .05rem .05rem black;
    border: solid ghostwhite .15rem;
    border-radius: 2%;
    padding: 2%;
    background-image: url(../images/sideWeed.jpg);
    background-size: cover;
    color: darkgreen;
}

/*events*/
.evShell {
    font-family: BestAccurate;
    text-align: center;
    background-image: url(../images/WeedOnTop2.jpg);
    background-size: cover;
    height: 100%;
    width: auto;
    color: ghostwhite;
    padding-bottom: 10%;
    border: solid .5rem greenyellow;
}

.evTitle {
    width: auto;
    font-size: 6rem;
    color: ghostwhite;
    text-shadow: .1rem .1rem greenyellow;
    border: .25rem solid ghostwhite;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 5%;
    padding: 1%;
}

.evBox {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.evBubble {
    border: .25rem solid ghostwhite;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    padding: 1.5%;
    margin: 1%;
    background-image: url(../images/WeedOnTop.jpg);
    background-size: cover;
    overflow-wrap: break-word;
    font-size: 1.25rem;
    text-shadow: .25rem .25rem black;
}

.bubTitle {
    font-size: 2.5rem;
    color: greenyellow;
}

.bubLocation {
    font-size: 2rem;
}

.bubBtn {
    width: auto;
    height: auto;
    color: greenyellow;
    border: solid .25rem ghostwhite;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, .5);
    padding: .5%;
    text-decoration: none;
    font-family: BestAccurate;
    font-size: 1.5rem;
    text-shadow: none;
}

/*newEvent*/
.newEvShell {
    display: flex;
    text-align: center;
    background-image: url(../images/sideWeed.jpg);
    background-size: cover;
    width: auto;
    height: 100%;
    padding-top: 2%;
    font-family: BestAccurate;
    padding-bottom: 10%;
}

.EvEntryBox {
    height: 6rem;
    border-radius: 2rem;
    background-color: rgba(177, 209, 182, 0.7);
    padding-left: 1%;
    margin-left: 1%;
    font-family: BestAccurate;
    font-size: 1.5rem;
    width: 60%;
    white-space: pre-wrap;
    overflow: auto;
}

.newEvBtn {
    width: 4rem;
    height: auto;
    font-family: BestAccurate;
    color: greenyellow;
    border: solid .15rem black;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, .7);
    padding: .5%;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 22%;
}

/*eventDisplayOne*/
.dispDad {
    font-family: BestAccurate;
    color: ghostwhite;
    background-image: url(../images/weed.jpg);
    background-size: cover;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 5%;
    text-align: center;
    border: solid .5rem ghostwhite;
}

.dispBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dispShell {
    border: .25rem solid ghostwhite;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, .7);
    font-size: 2rem;
    width: 50rem;
    padding-left: 2%;
    padding-right: 2%;
}

.dispName {
    font-size: 5rem;
    border: solid .25rem ghostwhite;
    color: greenyellow;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, .5);
    width: auto;
    padding: 1%;
    text-shadow: .1rem .1rem ghostwhite;
}

.dispP {
    margin-top: -2.5%;
}

.dispP2 {
    margin-top: -1%;
}

.dispWords,
.dispWords2 {
    color: greenyellow;
    margin-top: -1.5%;
}

.dispWords2 {
    margin-top: -.5%;
}

/*updateEvent*/
.bottomBtnBar {
    display: flex;
    justify-content: space-evenly;
    margin-left: -40%;
    font-family: BestAccurate;
}

/*storyOne*/
.topBox {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

/*newStory*/
.NSEntryBox {
    height: 60rem;
    border-radius: 2rem;
    background-color: rgba(177, 209, 182, 0.7);
    padding-left: 1%;
    margin-left: 1%;
    font-family: BestAccurate;
    font-size: 1.5rem;
    width: 90%;
    white-space: pre-wrap;
    overflow: auto;
}

.NSBtn {
    width: 4rem;
    height: auto;
    font-family: BestAccurate;
    color: greenyellow;
    border: solid .15rem black;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, .7);
    padding: .5%;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 40%;
}

/*storyDisplayAll*/
.dispAllShell {
    font-family: BestAccurate;
    text-align: center;
    background-image: url(../images/potPattern.jpg);
    background-size: cover;
    height: 100%;
    width: auto;
    color: ghostwhite;
    padding-bottom: 10%;
}

.dispAllTitle {
    width: auto;
    font-size: 6rem;
    color: ghostwhite;
    text-shadow: .15rem .15rem orangered;
    border: .25rem solid ghostwhite;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 5%;
    padding: 1%;
}

.dispAllBubble {
    position: relative;
    border: .25rem solid orangered;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .8);
    width: 20rem;
    height: 20rem;
    padding: 1%;
    margin: 1%;
    overflow-wrap: break-word;
    font-size: 1.25rem;
    text-shadow: .25rem .25rem black;
    z-index: 1;
}

.dispAllBubble::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/JustLeaf.png);
    background-size: cover;
    opacity: 0.5;
    border-radius: inherit;
    z-index: -1;
}

.DAbubTitle {
    font-size: 3.25rem;
    color: greenyellow;
}

.DAbubLocation {
    font-size: 2.25rem;
    margin-top: -5%;
}

/*documents*/
.docShell {
    background-image: url(../images/blueSmoke.jpg);
    background-size: cover;
    height: auto;
    font-family: BestAccurate;
    color: ghostwhite;
    padding: 1%;
    text-align: center;
    padding-bottom: 5%;
    border: .5rem solid rgb(9, 9, 235);
}

.docShellTop {
    height: 50rem;
    display: flex;
    justify-content: space-around;
    margin-top: -5%;

}

.documentTitle {
    font-size: 8rem;
    text-shadow: .3rem .3rem darkblue;
    margin-top: 28%;
    margin-bottom: 3%;
}

.newDocShell {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -10%;

}

.newDocTitle {
    width: auto;
    font-size: 2rem;
    color: ghostwhite;
    text-shadow: .05rem .05rem darkblue;
    border: .25rem solid ghostwhite;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 25%;
    padding: 1%;
    text-align: center;
}

.newDocLabel {
    text-shadow: .1rem .1rem darkblue;
    font-size: 1.75rem;
    margin-bottom: -1%;
}

.newDocBtnBar {
    display: flex;
    justify-content: space-evenly;
    margin-left: -33%;
}

.docBtn,
.docBtn2 {
    width: auto;
    color: blue;
    border: solid .25rem ghostwhite;
    border-radius: 25%;
    background-color: rgba(0, 0, 0, .5);
    text-decoration: none;
    font-family: BestAccurate;
    font-size: 1.5rem;
    text-shadow: .04rem .04rem ghostwhite;
}

.docBtn {
    padding-left: 5%;
    padding-right: 5%;
}

.docBtn2 {
    padding: 1%;
    margin-top: -15%;
}

.newDocEntryBox {
    height: 2rem;
    background-color: rgba(177, 209, 182, 0.6);

}

.allDocTitle {
    font-size: 3rem;
    color: rgb(62, 86, 220);
    text-shadow: .05rem .05rem ghostwhite;
}

.allDocLink {
    text-decoration: none;
    color: ghostwhite;
    text-shadow: .05rem .05rem blue;

}

.allDocs {
    width: 90%;
    height: 15rem;
    margin-bottom: 3%;
    font-size: 2rem;
    text-shadow: .05rem .05rem darkblue;
    border: solid ghostwhite .15rem;
    border-radius: 2%;

    background-image: url(../images/smoke.jpg);
    background-size: 100%;
    color: ghostwhite;
}