HTML {
    text-align: center;
    background-color: lightgreen;
    background-size: cover;
}

main {
    width: 100%;
}
 /*dash*/
 .dashShell {
    display: flex;
 }

 .dashLogo {
    width: 20%;
 }

 .leaf {
    width: 22rem;
    height: 22rem;
    margin-left: 6rem;
    margin-top: 5rem;
 }

 .dashMenu {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
 }

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.scroll-to-top.visible {
    opacity: 1;
}


@media (max-width: 768px) {
    .dashMenu {
        display: none;
    }
}

.menu-items {
    color: white;
}


.mobile-menu {
    margin-left: 5%;
    position: relative;
    display: none;
}

.menu-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
}

.menu-icon {
    display: inline-block;
    width: 30px;
    height: 20px;
    padding: -10%;
    margin: 10%;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
}

.menu-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: silver;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}


.menu-icon span:nth-child(1) {
    top: 0px;
}

.menu-icon span:nth-child(2),
.menu-icon span:nth-child(3) {
    top: 10px;
}

.menu-icon span:nth-child(4) {
    top: 20px;
}

.menu-icon.open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
}

.menu-icon.open span:nth-child(2) {
    top: 10px;
    opacity: 0;
    left: -60px;
}

.menu-icon.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
}

.menu-icon.open span:nth-child(4) {
    top: 10px;
    transform: rotate(-135deg);
}

@media (max-width: 768px) {
    .mobile-menu {
        display: block;
    }
}

.arrow-icon {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
